@charset "UTF-8";

body{
	Width:1000px;
}
header{
	background-color:#ffcccc;

}
#wrapper{
	display:flex;
	width:1000px;

}
#main{
	background-color:#ccffcc;
	width:700px;

}
#menu{
	background-color:#ccccff;
	width:300px;

}
footer{
	background-color:#ffccff;

}